<div class="col-md-8 offset-md-1">
    <h2>投稿詳細</h2>
    <table class="table">
        <tbody>
         <tr>
            <td><%= image_tag @user.image, size: "60x60" %></td>
            <td><%= image_tag @post.image, size: "200x200" %></td>
            <td><%= link_to @user.name, user_user_path(@user.id) %></td>
            <td><%= link_to @post.title, user_post_path(@post.id) %></td>
            <td><%= @post.impression %></td>
            <td><%= @post.address %></td>
            <% if @post.user == current_user %>
            <td>
              <%= link_to "Destroy", user_post_path(@post.id), method: :delete, data:{confirm: "本当に削除しますか？"}, class:"btn btn-danger" %>
            </td>
            <% end %>
         </tr>
        </tbody>
    </table>   
</div>